aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
# alabaster # Removed (Sphinx theme, likely unneeded)
altair
# anaconda-anon-usage # REMOVED
# anaconda-catalogs # REMOVED
# anaconda-client # REMOVED
# anaconda-cloud-auth # REMOVED
# anaconda-navigator # REMOVED
# anaconda-project # REMOVED
annotated-types
anyio
appdirs==1.4.4
# applaunchservices # REMOVED (macOS Specific)
# appnope # REMOVED (macOS Specific)
# appscript # REMOVED (macOS Specific)
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
bleach
blinker
# bokeh # REMOVED (Plotting/GUI related)
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
# conda # REMOVED
# conda-build # REMOVED
# conda-content-trust # REMOVED
# conda-libmamba-solver # REMOVED
# conda-pack # REMOVED
# conda-package-handling # REMOVED
# conda-repo-cli # REMOVED
# conda-token # REMOVED
# conda_index # REMOVED
# conda_package_streaming # REMOVED
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
# datashader # REMOVED (Plotting/GUI related)
# debugpy # REMOVED (Debugging tool, likely unneeded for deployment)
decorator
defusedxml
diff-match-patch
dill
distributed
distro
# dmglib # REMOVED (macOS DMG related)
# docstring-to-markdown # REMOVED (Docs related)
docutils
et-xmlfile
executing
fastjsonschema
filelock
# flake8 # REMOVED (Linter, unneeded for deployment)
Flask[async]>=3.0
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet==3.2.1
gunicorn>=20.0
h11
h5py
HeapDict
# holoviews # REMOVED (Plotting/GUI related)
httpcore
httpx
# hvplot # REMOVED (Plotting/GUI related)
hyperlink
idna
imagecodecs
imageio
imagesize
# imbalanced-learn # REMOVED (ML library, likely unneeded)
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
# ipykernel # REMOVED (Jupyter related)
# ipython # REMOVED (Jupyter related)
# ipython-genutils # REMOVED (Jupyter related)
# ipywidgets # REMOVED (Jupyter related)
# isort # REMOVED (Linter, unneeded)
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
# jupyter # REMOVED
# jupyter-console # REMOVED
# jupyter-events # REMOVED
# jupyter-lsp # REMOVED
# jupyter_client # REMOVED
# jupyter_core # REMOVED
# jupyter_server # REMOVED
# jupyter_server_terminals # REMOVED
# jupyterlab # REMOVED
# jupyterlab-pygments # REMOVED
# jupyterlab-widgets # REMOVED
# jupyterlab_server # REMOVED
# keyring # REMOVED (May require OS integration)
kiwisolver
lazy-object-proxy
lazy_loader
# lckr_jupyterlab_variableinspector # REMOVED (Jupyter related)
# libarchive-c # REMOVED (Likely unneeded)
# libmambapy # REMOVED
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
# matplotlib==3.9.2 # REMOVED (Plotting/GUI related)
# matplotlib-inline # REMOVED (Jupyter related)
# mccabe # REMOVED (Linter plugin)
mdit-py-plugins
mdurl
# menuinst # REMOVED
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
# mypy # REMOVED (Type checker)
# mypy-extensions # REMOVED (Type checker)
# navigator-updater # REMOVED
# nbclient # REMOVED (Jupyter related)
# nbconvert # REMOVED (Jupyter related)
# nbformat # REMOVED (Jupyter related)
nest-asyncio
networkx
# nltk # REMOVED (NLP library, likely unneeded)
# notebook # REMOVED (Jupyter related)
# notebook_shim # REMOVED (Jupyter related)
# numba # REMOVED (Performance library, likely unneeded)
# numexpr # REMOVED (Performance library, likely unneeded)
numpy
# numpydoc # REMOVED (Docs related)
openpyxl
overrides
packaging
pandas
# pandocfilters # REMOVED (Docs related)
# panel # REMOVED (Plotting/GUI related)
param
parsel
parso
partd
pathspec
patsy
# pexpect # REMOVED (Process control, likely unneeded)
pickleshare
pillow
pkce
pkginfo
platformdirs
playwright>=1.40
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyairtable==3.1.1
pyarrow
pyasn1
pyasn1-modules==0.2.8
# pycodestyle # REMOVED (Linter)
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
# pydocstyle # REMOVED (Linter)
pyee==13.0.0
pyerfa
# pyflakes # REMOVED (Linter)
Pygments
PyJWT
# pylint # REMOVED (Linter)
# pylint-venv # REMOVED (Linter)
# pyobjc-core # REMOVED (macOS Specific)
# pyobjc-framework-Cocoa # REMOVED (macOS Specific)
# pyobjc-framework-CoreServices # REMOVED (macOS Specific)
# pyobjc-framework-FSEvents # REMOVED (macOS Specific)
pyodbc
pyOpenSSL
pyparsing
pyperclip==1.9.0
# PyQt5==5.15.10 # REMOVED (GUI)
# PyQt5-sip # REMOVED (GUI)
# PyQtWebEngine==5.15.6 # REMOVED (GUI)
PySocks
# pytest # REMOVED (Testing framework)
python-dateutil
python-dotenv>=0.20
python-json-logger
# python-lsp-black # REMOVED (Linter/IDE support)
# python-lsp-jsonrpc # REMOVED (Linter/IDE support)
# python-lsp-server # REMOVED (Linter/IDE support)
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
PyYAML
pyzmq
# QDarkStyle # REMOVED (GUI)
# qstylizer # REMOVED (GUI)
# QtAwesome # REMOVED (GUI)
# qtconsole # REMOVED (Jupyter/GUI)
# QtPy # REMOVED (GUI)
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
# rope # REMOVED (Refactoring tool)
rpds-py
Rtree
# ruamel-yaml-conda # REMOVED
ruamel.yaml
ruamel.yaml.clib
s3fs
# scikit-image # REMOVED (Image processing, likely unneeded)
# scikit-learn # REMOVED (ML library, likely unneeded)
scipy
# Scrapy # REMOVED (Web scraping framework, separate from playwright)
# seaborn # REMOVED (Plotting)
semver
Send2Trash
service-identity
setuptools==75.1.0
# sip # REMOVED (GUI related)
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
# Sphinx # REMOVED (Docs generator)
# sphinxcontrib-applehelp # REMOVED
# sphinxcontrib-devhelp # REMOVED
# sphinxcontrib-htmlhelp # REMOVED
# sphinxcontrib-jsmath # REMOVED
# sphinxcontrib-qthelp # REMOVED
# sphinxcontrib-serializinghtml # REMOVED
# spyder # REMOVED (IDE)
# spyder-kernels # REMOVED (IDE)
SQLAlchemy
stack-data
# statsmodels # REMOVED (Stats library, likely unneeded)
# streamlit # REMOVED (Separate web framework)
sympy
# tables # REMOVED (HDF5 interface, likely unneeded)
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
# Twisted # REMOVED (Networking framework, likely unneeded)
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.44.0
# widgetsnbextension # REMOVED (Jupyter related)
wrapt
wurlitzer
xarray
# xlwings # REMOVED (Excel library)
xyzservices
# yapf # REMOVED (Linter)
yarl
zict
zipp
zope.interface
zstandard
